.in1{text-align: center;
text-transform: capitalize;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;}
.in2{text-align: center;
    text-transform: capitalize;
font-size: 22px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 600;}

.container{display: flex;
flex-direction: row;
}
.form{border: 1px white;
    margin-right: 20px;
    width: 350px;
    height: 450px;
    margin-top: 90px;
    background-color: antiquewhite;
    border-radius: 5px; box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
transition: .3s;

    
}
.form:hover{box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);}


.form2{border: 1px solid white;
margin-left: 150px;
width: 350px;
    height: 450px;
    margin-top: 50px;
background-color: antiquewhite;
border-radius: 5px; box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
transition: .3s;}
.form2:hover{box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);}


.form3{border: 1px solid white;
    margin-left: 150px;
    width: 350px;
    height: 450px;
    margin-top: 90px;
background-color: antiquewhite;
border-radius: 5px; box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
transition: .3s;}
.form3:hover{box-shadow: 0px 20px 40px rgba(0,0,0,0.4);
    transform: scale(1.05,1.05);}

    .in3{text-align: center;
    font-size: 30px;}
    .in4{text-align: left;
    font-size: 18px; margin-bottom: 20px;}
    .in5{background-color: green;
    color: aliceblue;padding-right: 100px;
justify-content: center;}



.in6{background-color: green;
color: antiquewhite;}
.in7{background-color: red;
color: antiquewhite;}





.main{background-color: rgb(92, 230, 230);}